<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <system.web>
        <customErrors mode="Off"/>
    </system.web>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".cer" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".rdp" mimeType="application/octet-stream" />
        </staticContent>
        <defaultDocument enabled="true" >
        <files>
            <clear />
            <add value="default.aspx" />
        </files>
        </defaultDocument>
        <directoryBrowse enabled="false" />
    </system.webServer>
</configuration>